.gallery {
  margin-top: 80px;
  padding-bottom: 30px;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 700px) {
    width: 700px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.photo-card {
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 700px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  transform: scale(1.09);
}

.info {
  display: flex;
  padding: 10px;
  text-align: center;
}

.info-item {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  font-size: 15px;
  line-height: 1.5;

  @media screen and (min-width: 480px) {
    font-size: 10px;
  }
}
.info-item:not(:last-child) {
  margin-right: 14px;
}
.gallery-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-thumb {
  height: 240px;
  // height: 70%;
}

.is-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.load-more-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
button[type='button'] {
  background-color: rgb(94, 188, 188);
  cursor: pointer;
  border: rgba(212, 212, 212, 0.762);
  border-radius: 4px;
  padding: 5px 10px;
}

button[type='button']:hover {
  color: aliceblue;
}
// .example .background {
//   height: 240px;
// ❗️❗️❗️ The path to images from a SASS file
// is always the same as from the css folder.
//   background-image: url('../images/logo.png');
//   background-size: cover;
//   background-position: center;
// }
